<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-right">
      <img class="logo1" src="/assets/img/logo3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Profile</p>
  </ion-item>
  <div>
    <img class="logo2" src="/assets/img/logo-user.png">
  </div>
  <ion-item>
    <p>Firstname Surname</p>
  </ion-item>
  <ion-card>
    <ion-button [fill]="'clear'" class="button-add" (click)="goToNewPost()">New Post<ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-list *ngIf="items && items.length > 0">
    <ion-card *ngFor="let item of items">
        <app-item [item]="item"></app-item>
    </ion-card>
  </ion-list>
  <p *ngIf="items && items.length === 0">
    No posts.
  </p>
  <p *ngIf="!items">
    Loading...
  </p>

</ion-content>