.logo1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.logo2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    width: 30%;
}
p{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
}
.button-add{
    width: 100%;
}
.button-go{
    width: auto;
    height: auto;
    margin-right: 100px;
}