ion-back-button{
    font-size: 20px;
}

ion-content{
    text-align: center; 
}

.login-logo{
    text-align: center;
    margin-top: 50px;
}

.login-input{
    text-align: center;
    width: 80%;
    display: inline-block;
}

.logo{
    width: 80%;
}

.logo3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

p{
    margin-top: 20px;
}
