<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" text="Back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-right">
      <img class="logo3" src="/assets/img/logo3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img class="logo" src="/assets/img/logo-login.png">
  </div>

  <div class="login-input">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="signIn()">LOGIN</ion-button>
    <p>Don't have an account ?  <ion-label color="primary" routerLink="/register">sign up here</ion-label> </p>
  </div>


</ion-content>