ion-back-button{
    font-size: 20px;
}

.logo3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.signup-input{
    text-align: center;
    width: 85%;
    display: inline-block;
    
}

.signup-header{
    width: 80%;
    display: inline-block; 
    color: #f84c61; 
}

.msg-error{
    color: red;
    margin-top: 2px;
}

signup-header{
    text-align: start; 
}

ion-content{
    text-align: center; 
}

